/******************************************
  Some tips for creating blocks / modules :
  - Add `c` prefix before the name of block or modules
  - Or Just copy paste this structure of styling code into your new block or components styling file
  - Dont forget to register your block or modules into `_modules.scss`
******************************************/

/** This Place For Block Modal **/
.#{$namespace} {
  & .c-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    & .modal {
      &__content {
        position: absolute;
        max-width: 600px;
        min-height: 300px;
        background: white;
        margin: auto;
        left: 0;
        right: 0;
        top: 120px;
      }
    }

    &.modal {
      &-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
    }
  }
}

/* ************************************ */
